
/* -------------------- HEADER -------------------- */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
}

.contact__title{
	font-family: Lemon;
    text-transform: uppercase;
	text-align: center;
	text-decoration: underline;
	font-size: 2rem;
    font-weight: 500;
}

.contact__sub-title{
	font-family: Antro;
    width: 100%;
	font-size: 2rem;
	text-decoration: none;
	text-transform: capitalize;
	margin: 50px 0;
	text-align: center;
}

.contact .contact__adress{
    font-family: Lemon;
    line-height: 1;
    font-size: 1.4rem;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
}

.contact .contact__adress a:active, .contact .contact__adress a:hover{
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .contact__title, .contact__sub-title{
        font-size: 3rem;
    }  
}

/* -------------------- MAIN  -------------------- */
.contact-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 10px);
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .contact-main{
        flex-direction: row;
        justify-content: space-around;
    }  
}

/* SCHEDUL */
.contact-main__item, .contact-main__title{
    font-family: Lemon;
	margin: 10px 0;
	font-size: 1.2rem;
	font-weight: 300;
}

.contact-main__schedule{
    width: 90vw;
    max-width: 400px;
    border : 2px solid black; 
}

.contact-main__title{
    text-transform: uppercase;
    font-weight: 400;
}

.contact-main__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 20px);
    margin: 0;
    padding: 0 10px;
}

.contact-main__info{
    width: 90vw;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
    max-width: 380px;
    margin: 10px;
    text-align: center;
}

.contact-main__info--accent{
    color: var(--accent-color);
}

@media screen and (min-width: 400px) {
    .contact-main__item{
        flex-direction: row;
        align-items: center;
    }  
}

@media screen and (min-width: 600px) {
    .contact-main__info{
        max-width: 400px;
        margin: 10px 0 0;
    }
}


/* NETWORK */

.contact-main--network{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 400px;
}

.contact-main-network .contact-main-network__item{
    font-family: Lemon;
    line-height: 1;
	font-size: 2rem;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    color: var(--primary-color);
}

.contact-main-network .contact-main-network__item a:hover{
    color: var(--accent-color);
}

.contact-main-network__contain-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.contact-main-network__logo{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .contact-main-network .contact-main-network__item{
        text-align: left;
    }
    .contact-main-network__contain-logo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        margin: 10px 0;
    }
}