h1 {
    font-size: min(6vw, 36px);
    font-weight: 600;
}

h2 {
    font-size: min(6vw, 36px);
    font-weight: 500;
}

h3 {
    font-size: min(3.5vw, 18px);
    font-weight: 400;
}

h1,
h2,
h3 {
    text-align: center;
}

/*Header*/
.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 38px;
}

.home-header__logo {
    height: 60vh;
    max-height: 280px;
    min-height: 200px;
    margin: 5vh 0;
    width: 100%;
    object-fit: contain;
}

.home-header .home-header__button {
    margin-top: 3vh;
}

@media screen and (min-width: 768px) {
    .home-header__logo {
        height: 80vh;
        max-height: 520px;
        min-height: 400px;
    }
}

/*Supplier*/
.home-supplier {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 38px;
}

.home-supplier__title,
.home-restaurant-menu__title {
    text-decoration: underline;
    margin-top: 5vh;
}

.home-supplier__explain,
.home-restaurant-menu__explain {
    margin-top: 2vh;
}

.home-supplier__list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-supplier-item {
    margin-top: 4vh;
}

.home-supplier-item__title {
    font-family: Antro;
    font-size: 24px;
}

.home-supplier-item__img {
    margin-top: 12px;
    height: 30vh;
    max-height: 280px;
    min-height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.home-supplier-item__figcaption {
    font-size: 12px;
    font-family: Lemon;
    font-weight: 300;
    margin-top: 8px;
    line-height: 1.2;
}

.home-supplier-item__figcaption a {
    color: var(--accent-color);
}

.home-supplier-item__link {
    color: var(--accent-color);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .home-supplier br {
        display: none;
    }

    .home-supplier {
        margin-top: 6vh;
    }

    .home-supplier__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 8%;
        row-gap: 36px;
        width: 86%;
    }

    .home-supplier__explain {
        font-size: 26px;
    }

    .home-supplier-item--explain {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        display: block;
        margin: auto;
    }

    .home-supplier-item {
        position: relative;
    }

    .home-supplier-item:after {
        content: '';
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        width: 118px;
        height: 100%;
        top: 36%;
    }

    .home-supplier-item:nth-child(1):after {
        background-image: url('../../../assets/img/icons/bottom_right_arrow.png');
        left: calc(-50% - 62px);
    }

    .home-supplier-item:nth-child(2):after {
        background-image: url('../../../assets/img/icons/top_left_arrow.png');
        right: calc(-50% - 52px);
    }

    .home-supplier-item:nth-child(3):after {
        background-image: url('../../../assets/img/icons/top_right_arrow.png');
        left: calc(-50% - 58px);
    }

    .home-supplier-item:nth-child(4):after {
        background-image: url('../../../assets/img/icons/bottom_left_arrow.png');
        right: calc(-50% - 62px);
    }

    .home-supplier-item__title {
        font-size: 32px;
    }
}

/*Restaurant menu*/
.home-restaurant-menu {
    margin: 5vh 38px 0;
}

.home-restaurant-menu__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 4vh;
}

.home-menu-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
    font-family: Lemon;
    font-weight: 400;
    font-size: 24px;
    flex-wrap: wrap;
}

.home-menu-item--vegetarian::before {
    left: -18px;
    top: 8px;
    position: absolute;
    content: '';
    background-color: var(--success-color);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.home-menu-item__recipe {
    width: 80%;
}

.home-menu-item__ingredients {
    font-weight: 300;
    font-size: 12px;
    margin-top: 6px;
    display: flex;
    column-gap: 12px;
    flex-wrap: wrap;
}

.home-restaurant-menu__note {
    font-family: Lemon;
    font-weight: 300;
    font-size: 12px;
    margin-top: 4vh;
    line-height: 1.2;
}

.home-restaurant-menu__note span {
    font-weight: 400;
    line-height: 2;
}

.home-restaurant-menu__button {
    margin: 8vh 38px;
    position: relative;
}

.home-restaurant-menu__button a:hover {
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .home-restaurant-menu__container {
        margin-top: 2vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .home-restaurant-menu__list {
        row-gap: 24px;
    }

    .home-restaurant-menu__button {
        margin: 0 0 68px;
    }

    .home-restaurant-menu__button a::after {
        content: '';
        background: url('../../../assets/img/icons/top_right_arrow.png')
            no-repeat center;
        position: absolute;
        background-size: contain;
        width: 120px;
        height: 120px;
        top: 64px;
        left: 106px;
        transform: rotate(-95deg);
    }
}
/*Gallery*/
.home-gallery {
    margin: 6vh 0;
}

.home-gallery__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.home-gallery__img {
    max-height: 230px;
    min-height: 180px;
    width: 100%;
    object-fit: cover;
}

.home-gallery__item--desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .home-gallery__item--desktop {
        display: block;
    }

    .home-gallery__list {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 80px);
        gap: 24px;
        margin: 24px;
    }

    .home-gallery__img {
        height: 100%;
        max-height: 100%;
        min-height: auto;
    }

    .home-gallery__item:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 4;
    }

    .home-gallery__item:nth-child(2) {
        grid-column: 3 / 5;
        grid-row: 1 / 5;
    }

    .home-gallery__item:nth-child(3) {
        grid-column: 5 / 7;
        grid-row: 1 / 3;
    }

    .home-gallery__item:nth-child(4) {
        grid-column: 7 / 9;
        grid-row: 1 / 7;
    }

    .home-gallery__item:nth-child(5) {
        grid-column: 1 / 3;
        grid-row: 4 / 7;
    }

    .home-gallery__item:nth-child(6) {
        grid-column: 3 / 5;
        grid-row: 5 / 7;
    }

    .home-gallery__item:nth-child(7) {
        grid-column: 5 / 7;
        grid-row: 3 / 7;
    }
}

/*Lifestyle*/
.home-lifestyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8vh 38px 0;
}

.home-lifestyle__mrl {
    width: 100%;
    max-width: 400px;
}

.home-lifestyle__slogan {
    font-family: Antro;
    font-size: min(15vw, 62px);
    margin-top: 12px;
}

.home-lifestyle__title {
    margin-top: 4vh;
}

.home-lifestyle__explain {
    margin-top: 2vh;
    text-align: center;
    font-size: min(3.5vw, 16px);
    font-weight: 400;
    line-height: 1.5;
}

/*Tee shirt and Plate*/
.home-tee-shirt,
.home-plate {
    margin: 5vh 38px 0;
}

.home-tee-shirt__title,
.home-plate__title {
    text-decoration: underline;
}

.home-tee-shirt__list,
.home-plate__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 2vh;
}

.home-tee-shirt__item,
.home-plate__item {
    margin-top: 2vh;
}

.home-tee-shirt__img,
.home-plate__img {
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
}

.home-tee-shirt__caption {
    margin-top: 8px;
    font-weight: 300;
}

.home-tee-shirt__caption strong {
    font-weight: 400;
}

.home-plate__explain {
    margin-top: 2vh;
    text-align: center;
    font-size: min(3.5vw, 16px);
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .home-tee-shirt {
        overflow-x: hidden;
    }

    .home-tee-shirt__list {
        flex-direction: row;
        column-gap: 36px;
        justify-content: center;
        position: relative;
        left: 52px;
    }

    .home-tee-shirt__figure {
        display: flex;
        align-items: end;
        padding-bottom: 24px;
    }

    .home-tee-shirt__caption {
        background-color: white;
        position: relative;
        right: 52px;
        top: 24px;
        padding: 16px;
        width: 182px;
    }

    .home-plate,
    .home-tee-shirt {
        margin-top: 6vh;
    }

    .home-plate__list {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .home-plate__item {
        width: 32%;
        max-width: 600px;
    }

    .home-plate__img {
        height: 300px;
    }
}
