.homeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeHeader__logo {
    height: 60vh;
    margin: 5vh 0;
    width: 100%;
    object-fit: contain;
}

.homeHeader__title {
    font-size: 6vw;
    text-align: center;
    font-weight: 600;
}

.homeHeader__button {
    margin-top: 5vh;
}

.homeFresh {
    
}