:root {
    --primary-color: black;
    --secondary-color: #f9f9f9;
    --accent-color: #c51b19;
    --secondary-accent-color: #0084c1;
    --success-color: #42b74c;
    --invalid-color: #f31a17;
}

html {
    scroll-behavior: smooth;
    background-color: var(--secondary-color);
    font-family: Lemon, Trebuchet MS;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3 {
    line-height: 1.5;
}

.button,
.button:active,
.button:hover {
    cursor: pointer;
    font-size: 12px;
    padding: 12px 26px;
    border-radius: 32px;
    font-weight: 600;
    font-family: Lemon, Trebuchet MS;
    background-color: var(--accent-color);
    color: white !important;
    text-align: center;
    line-height: 1.3;
}
