:root {
    --primary-color: black;
    --accent-color: #c51b19;
    --success-color: #42b74c;
}

html {
    scroll-behavior: smooth;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #000;
}

h1, h2, h3 {
    line-height: 1.5;
    font-family: 'Lemon';
    text-align: center;
}

.button, .button:active, .button:hover {
    font-size: 12px;
    padding: 12px 26px;
    border-radius: 32px;
    font-weight: 600;
    font-family: 'Lemon';
    background-color: var(--accent-color);
    color: white !important;
}