/* Antro */
@font-face {
    font-family: Antro;
    src: url('assets/fonts/antro/Antro.otf');
}

/* Lemon Milk */
@font-face {
    font-family: Lemon;
    font-weight: 100;
    src: url('assets/fonts/lemon_milk/LEMONMILK-Light.otf');
}

@font-face {
    font-family: Lemon;
    font-weight: 300;
    src: url('assets/fonts/lemon_milk/LEMONMILK-Regular.otf');
}

@font-face {
    font-family: Lemon;
    font-weight: 400;
    src: url('assets/fonts/lemon_milk/LEMONMILK-Medium.otf');
}

@font-face {
    font-family: Lemon;
    font-weight: 600;
    src: url('assets/fonts/lemon_milk/LEMONMILK-Bold.otf');
}


