/*Header*/
.manage-food-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    column-gap: 32px;
    margin: 4vh 38px;
}

.manage-food-header__logo {
    width: 50px;
}

.manage-food-header__title{
    font-size: 28px; 
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .manage-food-header__logo {
        width: 100px;
    }
}

/*List*/
.manage-food__title {
    font-size: 16px;
    font-weight: 300;
    margin: 5vh 0;
}

.manage-food-list {
    display: flex;
    justify-content: space-around;
    margin: 0 38px;
    align-items: stretch;
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 4px;
}

.manage-food-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 12px;
    border-radius: 2px;
    background-color: white;
    row-gap: 12px;
    width: 200px;
    font-size: 14px;
    font-weight: 300;
    margin: 0 2px;
}

.manage-food-list__item p {
    margin-left: 2px;
    margin-top: 6px;
    min-height: 24px;
}

.manage-food-list__edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
    width: 200px;
}

.manage-food-list__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    column-gap: 12px;
}

.manage-food-list__input{
    height: 28px;
    border-radius: 2px 2px 0 0;
    border: transparent;
    border-bottom: 1px solid var(--primary-color);
    padding: 0 2px;
    font-size: 14px;
    font-weight: 300;
    font-family: Lemon;
}

.button--grey {
    background-color: grey;
}

.manage-food__add-button {
    display: block;
    margin: 4vh auto;
}