.header-nav {
    position: fixed;
    z-index: 99;
    top: 24px;
    right: 32px;
}

.header-nav::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -8px;
    width: 30px;
    height: 30px;
    background: url(../../../assets/img/icons/ketchup.png) no-repeat center;
    background-size: contain;
    opacity: 0.9;
    z-index: 9;
}

.header-nav__button {
    position: relative;
    z-index: 10;
    display: block;
}

.header-nav__burger {
    width: 38px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.header-nav__list {
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    background-color: var(--secondary-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 36px;
    width: 100%;
    transition: left 0.3s ease-in-out;
}

.header-nav__checkbox {
    display: none;
}

.header-nav__checkbox:checked ~ .header-nav__button .header-nav__burger {
    transform: rotate(-90deg);
}

.header-nav__checkbox:checked ~ .header-nav__list {
    left: 0;
}

.header-nav__item {
    position: relative;
    font-size: 26px;
}

.header-nav__item--selected::before {
    content: '';
    position: absolute;
    top: 3.5px;
    left: -26px;
    width: 18px;
    height: 18px;
    background: url(../../../assets/img/icons/hot_dog.png) no-repeat center;
    background-size: 100%;
}

/*Scroll-container*/
body {
    position: relative;
}

.header-scroll-container {
    display: none;
    position: absolute;
    top: 26px;
    right: 32px;
    height: 100%;
    z-index: 10;
}

.header-scroll-container:before {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
}

.header-scroll-container__link {
    position: sticky;
    top: 90vh;
    cursor: pointer;
    font-size: 20px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(197, 28, 25, 0.9);
    padding: 4px;
    border-radius: 50%;
}

.header-scroll-container__img {
    width: 36px;
    height: 36px;
}

@media (min-width: 768px) {
    .header-scroll-container {
        display: block;
    }
}

/*Loading*/
.header-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading 2.8s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes loading {
    62% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        z-index: -1;
    }
}

.header-loading__svg {
    width: 280px;
    height: 280px;
}

.header-loading__pain {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 22.269;
    stroke-miterlimit: 10;
}

.header-loading__sauce {
    fill: none;
    stroke: var(--accent-color);
    stroke-width: 20;
    stroke-linecap: round;
    stroke-dasharray: 770;
    animation: dash 2.3s ease-in-out alternate;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 770;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@media screen and (min-width: 768px) {
    .header-nav {
        position: absolute;
    }

    .header-nav__burger {
        display: none;
    }

    .header-nav::before {
        display: none;
    }

    .header-nav__list {
        position: initial;
        flex-direction: row;
        column-gap: 24px;
        background-color: transparent;
    }

    .header-nav__item {
        font-size: 18px;
    }

    .header-nav__item--selected a {
        color: var(--accent-color);
    }

    .header-nav__item--selected::before {
        display: none;
    }
}
