
/*Header*/
.manage-schedule-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 4vh 38px;
    column-gap: 32px;
}

.manage-schedule-header__logo {
    width: 50px;
}

.manage-schedule-header__title{
    font-size: 28px; 
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .manage-schedule-header__logo {
        width: 100px;
    }
}


/* FORMIULAIRE  */

.manage-schedule{
    margin: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 45vh;
    max-width: 567px;
}

.manage-schedule__title{
    font-size: 16px;
    font-weight: 300;
    margin: 5vh 0;
}

.manage-schedule__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    column-gap: 100px;
    padding: 12px 0;
}

.manage-schedule__input{
    width: 250px;
    height: 28px;
    border-radius: 2px 2px 0 0;
    border: transparent;
    border-bottom: 1px solid var(--primary-color);
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    font-family: Lemon;
}

.manage-schedule__btn{
    margin-top: 4vh;
    align-self: end;
}


@media screen and (min-width: 768px) {
    .manage-schedule {
        margin: auto;
    }

    .manage-schedule__input {
        margin-top: 0;
    }
}